@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Logic Core V3: The Inversion System */
:root {
  /* Default Light (Zinc-50) */
  --color-void: #fafafa;
  --color-obsidian: #18181b;
  --color-accent: #06b6d4;
}

[data-theme='dark'] {
  /* Inverted Void (Zinc-950) */
  --color-void: #09090b;
  --color-obsidian: #f4f4f5;
  --color-accent: #00e1ff;
}

body {
  background-color: var(--color-void);
  color: var(--color-obsidian);
  /* Fluid transition physics */
  transition: background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1), color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ghost Mode: Scrollbar Exterminated */
@layer base {

  html,
  body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
  }

  ::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
}

/* Ensure Canvas takes full interaction */
canvas {
  touch-action: none;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}