@import "tailwindcss";

@theme {
  --color-void: #ffffff;
  --color-obsidian: #f4f4f5;
  --color-neon: #000000;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes pulseGlow {
  0% {
    opacity: 0.05;
    transform: scale(1);
  }

  50% {
    opacity: 0.1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0.05;
    transform: scale(1);
  }
}

/* Global Reset & Defaults */
body {
  background-color: var(--color-void);
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure Canvas takes full interaction */
canvas {
  touch-action: none;
}